<h1>Pick #: {{this.turn}}</h1>
<table *ngIf="!removingContestant" class="grid" border="2">
    <tbody>
        <tr *ngFor="let row of rows">
            <td *ngFor="let c of row" class="grid-space" [style.backgroundColor]="c.eliminated ? 'red' : ''">
                <a *ngIf="!c.eliminated" href="#" (click)="onContestantClick(c)">{{ c.id }}. {{ c.name }}</a>
                <span *ngIf="c.eliminated" href="#">{{ c.id }}. {{ c.name }}</span>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="!removingContestant">
    <div style="float:left;">
        <button *ngIf="eliminatedList.length > 0" (click)="undo()">Undo</button>
    </div>
    <div style="float:right">
        <label>Animation on</label>
        <input type="checkbox"
           [checked]="animationOn"
           (change)="animationOn = !animationOn"/>
        <label>Sound on</label>
        <input type="checkbox"
           [checked]="soundOn"
           (change)="soundOn = !soundOn"/>
    </div>
    <div style="float: left; margin-top:30px">
    <h1>
        Recently Eliminated (Closer to top = More recent)
    </h1>
    <h2 *ngFor="let c of recentlyEliminated()">{{c.id}}. {{c.name}}</h2>
    </div>
</div>
<div *ngIf="removingContestant" style="text-align: center; margin-top:300px">
    <span class="large-text" *ngIf="!eliminated">{{ removingContestant.id }}. {{ removingContestant.name }}</span>
    <span class="large-text eliminated" *ngIf="eliminated" (click)="hideRemoveAnimation()">{{ removingContestant.id }}. {{ removingContestant.name }}</span>
    <span class="large-text winner" *ngIf="winner" (click)="hideRemoveAnimation()">$$$ {{ removingContestant.id }}. {{ removingContestant.name }} $$$</span>
</div>
<div>
    <audio id="buzzer">
        <source src="assets/buzzer.wav" type="audio/wav">
    </audio>
    <audio id="kaching">
        <source src="assets/kaching.wav" type="audio/wav">
    </audio>
</div>