<h1>Pick #: {{this.turn}}</h1>
<table class="grid" border="2">
    <tbody>
        <tr *ngFor="let row of rows">
            <td *ngFor="let c of row" class="grid-space" [style.backgroundColor]="c.eliminated ? 'red' : (c.winner ? 'green' : '')">
                <a *ngIf="!c.eliminated && !c.winner" href="#" (click)="onContestantClick(c)">{{ c.id }}. {{ c.name }}</a>
                <span *ngIf="c.eliminated || c.winner" href="#">{{ c.id }}. {{ c.name }}</span>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <div style="float:left;">
        <button *ngIf="turn > 1" (click)="undo()">Undo</button>
    </div>
    <div style="float:right">
        <settings-control></settings-control>
    </div>
    <div style="float: left; margin-top:30px">
        <h1>Recently Eliminated (Closer to top = More recent)</h1>
        <h2 *ngFor="let c of recentlyEliminated">{{c.id}}. {{c.name}}</h2>
    </div>
</div>
<billboard></billboard>